* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #252734;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    color: #252734;
    padding: 20px;
    text-align: center;
}

.wallet-box {
    text-align: center;
    margin-top: 20px;
}

#connectBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    font-size: 46px;
    position: relative;
}

.badge {
    background: #E2584D;
    padding: 2px 10px;
    font-size: 14px;
    position: absolute;
}

#user-label { top: 30px; left: -25px; }
#computer-label { top: 30px; right: -30px; }

.result { font-size: 32px; text-align: center; margin-top: 20px; }

.choices { margin: 50px 0; text-align: center; }

.choice {
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    transition: 0.3s;
}

.choice:hover {
    cursor: pointer;
    background: #999;
}

#action-msg {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
